@import 'reset';
@import 'sizes';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Roboto', sans-serif;
}

.app {
  display: grid;
  grid-template-rows: 3rem 1fr;
}

.main_content {
  overflow: hidden;
}

.relative {
  position: relative;
}

.container {
  width: 100%;
  @media screen and ($tablet) {
    width: 90%;
    margin: 0 auto;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  th, td {
    padding: 0.3em 0.2em;
    border: 1px solid rgba(0,0,0,0.1);
  }
  th {
    text-align: left;
  }
}

.answer_title {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.table_title {
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 0.3rem;
  color: #0b6767;
}
