/**
 * Responsive
 */
$mobile: 'max-width: 600px';
$tablet: 'min-width: 600px';
$desktop: 'min-width: 960px';
$lg: 'min-width: 1264px';
$xlg: 'min-width: 1904px';

/**
 * Colors
 */
$primary: #25a9e0;
$box-shadow: 1px 1px 6px rgba(0,0,0,0.4);
